<h1>Students Index Page</h1>

<br/>
<br/>
<a href="/students/login">Login</a><br/>
<br/>
<a href="/students/signup">Signup</a><br/>
<br/>
How we serve Students<br/>
<p> Students have the best view in the house to evaluate teachers. We believe that students should be given frequent opportunities to give anonymous feedback to their teacher. The aggregate of that feedback tells us something about the instructor and their effectiveness in reaching students. One data point is not enough because students are human and having a bad day or week could have an impact on how they feel in class. But 30 data points over the course of the semester multiplied by every student in the class gives an instructor important feedback. </p>
<p> Students should also be encouraged to give advocate for themselves in person. An environment where students and teachers work together collaboratively to help students reach academic goals is going to be the most effective classroom. </p>

<a href="/index">Back to Home Page</a>

<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
