<h1>Students Index Page</h1>

<br/>
<br/>
<a href="/students/login">Login</a><br/>
<br/>
<a href="/students/signup">Signup</a><br/>
<br/>
How we serve Students<br/>
Students have the best view in the house to evaluate teachers. We believe that students should be given frequent opportunities to 

<a href="/index">Back to Home Page</a>
