<h1>Student Login Page</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %> <br/>
<% end %>

<br/>
<form  action="/students/login" method="post">
  User Name:<input type="text" name="username" placeholder="Donald" required><br/>
  Password<input type="password" name="password" required><br/>
  <input type="submit" value="Login To Student View"><br/>
</form>
<br/>

<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
