<h1>Student Home Page</h1>

Your Teacher is <%=@student.teacher.preferred_name%>. <br/>


<a href="/feedbacks/new"> Create New Feedback </a><br/>

<a href="/feedbacks/index">See Previous Feedback</a> <br/>

<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
