<h2>Student SignUp Page</h2>

<br/>
<form method="POST" action='/students/signup'>
  First Name:<input type="text" name="first_name" placeholder="Franklin" required><br/>
  Last Name<input type="text" name="last_name" placeholder="Roosevelt" required><br/>
  What You Prefer Students to Call You<input type="text" name="preferred_name" placeholder="Franky" required ><br/>
  Password<input type="password" name="password" required><br/>

  Select a Teacher Below (Optional)
  <input type="checkbox"

  <%Teacher.all.each do |teacher|%>
   <input type="checkbox" name="teacher" id="<%=teacher.id %>" value="<%=teacher.id%>"><%=teacher.last_name%>, <%=teacher.first_name%></input><br/>
 <%end%>

  <input type="submit" value="Create Student Account"><br/>
</form>
<br/>
<a href="/students/login"> Wait! I Already have an Account</a><br/>

<a href="/index">Back to Home Page</a>

<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
