<h1>Teachers Index Page </h1><br/>
<br/>
<br/>
<a href="/teachers/login">Login</a><br/>
<br/>
<a href="teachers/signup">Signup</a><br/>
<br/>
How we serve Teachers<br/>


<a href="/index">Back to Home Page</a> <br/>
<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
