<h2>Teacher Login Form </h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %> <br/>
<% end %>

<br/>
<form  action="/teachers/login" method="post">
  User Name:<input type="text" name="username" placeholder="FRoos" required><br/>
  Password<input type="password" name="password" required><br/>
  <input type="submit" value="Login To Teacher View"><br/>
</form>
<br/>


<a href="/index">Back to Home Page</a>

<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
