<h2>Teacher Login Form </h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %> <br/>
<% end %>

<br/>
<form  action="/teachers/login" method="post">
  First Name:<input type="text" name="first_name" placeholder="Franklin" required><br/>
  Last Name<input type="text" name="last_name" placeholder="Roosevelt" required><br/>
  Password<input type="password" name="password" required><br/>
  <input type="submit" value="Login To Teacher View"><br/>
</form>
<br/>


<a href="/index">Back to Home Page</a>
