Sign Up Form
<br/>
<form method="POST" action='/teachers/signup'>
  First Name:<input type="text" name="first_name" placeholder="Franklin" required><br/>
  Last Name<input type="text" name="last_name" palceholder="Roosevelt" required><br/>
  What You Prefer Students to Call You<input type="text" name="preferred_name" placeholder="Professor Roosevelt" required ><br/>
  Password<input type="text" name="password" required><br/>
  <input type="submit" value="Create Teacher Account"><br/>
</form>
