Delete Feedback <br/>

WARNING: This can not be undone!<br/>
<input type="hidden" name="_method" value="DELETE">
<form method="post" action="/feedbacks/delete/<%=@feedback.id%>">
  <input type="submit" value="Delete Feedback"><br/>
</form>

<a href="/feedbacks/index"> Or You can go back to the index </a><br/>
<a href="/students/login">Logout</a>
