<h1>About Educational Feedback LLC</h1>

<p>Feedback in education is such an important factor in improving systems, from advising, to teaching to departmental excellence. Unfortunately, most of our schools are stuck in an era where feedback is viewed with suspicion. Furthermore, vehicles for collecting data are only deployed occasionally, following a model where collecting little bits of paper and collating data was an onerous task. At Educational Feedback we believe that data should be collected frequently in as seamless a way as possible. Those two ideas go together, because if the data collection process is difficult or time-consuming, it will be relegated to a once a semester role. </p>
<p>To that end, we created Educational Feedback to create a web-based system for collecting data on students and teachers. Currently we have only constructed a model for collecting data on teachers, but the other direction is just as important.</p>
