<h1>Welcome to Educational Feedback LLC</h1>

<h2>The place where data rules </h2>


<a href="/teachers" >Click here if you are a teacher.</a> <br/>
 <br/>
<a href="/students">Click here if you are a student. </a> <br/>
 <br/>
<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
