<!doctype html>
<html>
  <head>
    <title>Educational Feedback</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>

    <div class="container">

      <div id="navbar" class="light-fade">
           <div class="wrapper">
             <nav>
               <% if current_user.instance_of?(Teacher) %>
               <a class="selected milk-text" href="/index">Home</a> | <a class="selected" href="/about">About</a> |
                <a class="selected" href=<%="/teachers/show/#{current_user.id}"%>>View Students</a> | <a class="selected" href=<%="/teachers/#{current_user.id}/feedback"%>>View Feedback</a> |
                <a class="selected" href="/teachers/signup">Logout</a>
                <% end %>

                <% if current_user.instance_of?(Student) %>
                <a class="selected milk-text" href="/index">Home</a> | <a class="selected" href="/about">About</a> |
                  <a class="selected" href="/feedbacks/new">Create New Feedback</a> |
                 <a class="selected" href="/feedbacks/index">Review Previous Feedback</a> |
                  <a class="selected" href="/students/signup">Logout</a>
                 <% end %>

                 <% if !current_user %>
                 <a class="selected milk-text" href="/index">Home</a> | <a class="selected" href="/about">About</a> |
                  <a class="selected" href="/teachers/login">Teacher Login</a> | <a class="selected" href="/students/login">Student Login</a> |
                  <a class="selected" href="/teachers/signup">Teacher Sign Up</a> | <a class="selected" href="/students/signup">Student Sign Up</a>
                  <% end %>


                </nav>
           </div><!-- .wrapper <img src="https://s3.amazonaws.com/after-school-assets/cat-typing.gif">-->


      <%= yield %>



    </div>

  </body>
</html>
